body {
    margin: 0;
    background-image: url("./image/1.jpg");
    background-size: cover;
}

#wrap_pallette {
    position: fixed;
    margin-left: 50px;
    margin-top: 320px;
}

#cnt_menu {
    position: fixed;
    margin-top: 30px;
    margin-left: 30px;
}

.wrap_legend {
    margin-top: 50px;
}

.wrap {
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 50px;
}

ul {
    list-style: none;
    margin-left: 10px;
    padding: 0;
}

.wrap_canvas {
    display: flex;
}

#menu > ul > li { 
    padding: 30px;
    font-size: 16px;
    transition: font-size 0.1s linear;
}

#menu > ul > li:hover {
    font-size: 20px;
}

.sel_bt_img { 
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

#pallette{
    display: flex;
}

#user_pallette {
    font-size: 20px;
    margin: 10px;
    display: flex;
}
#user_pallette > li {
    margin-top: 15px;
}

#export > ul > li {
    margin: 20px;
}

#button_draw {
    background: red;
}

#button_animation {
    background: red;
}

canvas {
    border: ridge;
}

.select_button {
    background-color: #4CAF50;
    border-radius: 10%;
    margin: 10px;
}

.okno {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
}

.pos_canvas {
    margin-left: 150px;
}